<div class = "login-page">
    <div class = "title" >
      <h1>ルーム入室</h1>
    </div>
    
    <div class = "container">
        <div class = "login-form">
            <%= form_tag("/room/login") do %>
              <p>ルーム名を入力</p>
              <input name="room_name">
              <p>パスワードを入力</p>
              <input name="password" >
              <input type="submit" value="入室">
            <% end %>
        </div>
    </div>
</div>