<div class = "main room-new">
  <div class = "container">
    <h1 class = "form-heading">新規ルーム作成</h1>
      <div class = "form room-form">
        <div class = "form-body">
          <%= form_tag("/room/create") do %>
           <p>部屋の名前を入力</p>
           <input name="name">
           <p>パスワード</p>
           <input name="password">
           <input type="submit" value="作成">
          <% end %>
        </div>
      </div>    
    </div>
  </div>    
</div>