<div class = "room-show">
    <div class = "container">
        <div class = "room">
        　<div class = "room_name">    
            <%= @current_room.room_name %>
          </div>
          <div class ="edit-room">
            <p>部屋を編集</p>
            <%= form_tag("/room/#{session[:room_id]}/edit") do %>
            <p>名前を変更</p>
        <input name="room_name" value="<%= @current_room.room_name %>">
            <p>パスワードを変更</p>
            <input name="password" value="<%= @current_room.password %>">
       　　  <input type="submit" value="編集">
            <% end %>
          </div>  　　
          </div>
          <div class = "room-member">
            <p>メンバー一覧<p>
            <%@current_room.users.each do |member| %>
              <li><%= member.name %></li>
            <% end %>
          </div>
          <div class = "exit-room">
              <%= link_to("部屋を退出","/room/#{session[:room_id]}/#{session[:user_id]}/exit",{method: "post"}) %>
          </div>      
          </div>
          <div class ="todays-menu">
             <h1>今日の晩御飯</h1>
                <% if @menu.nil? %>
                   <p>晩御飯を入力</p>
                   　<%= form_tag("/room/#{@current_room.id}/create") do %>
                　 <div class = "create-menu">
                           <input name="menu">
                           <input type="submit" value="決定">
                         </div>
                        <% end %> 
                <% else %>
                  　    <%= @menu.menu %>  
                <% end %>      
          </div>
          <div class = "todays-member">
                     <p>いる？いらない？予定は？</p>
                     <% unless @answer %>
                     <div class = "users-answer">
                          <%= form_tag("/room/#{@current_room.id}/#{session[:user_id]}/answer") do %>    
                            <input name="answer" >
                            <input type="submit" value="回答">
                          <% end %> 
                     </div>
                     <% end %> 
                     <div class = "answer-list">
                         <% @current_room.users.each do |mem| %>
                           <% @answer = Answer.find_by(user_id: mem.id,date: Date.today) %>
                               <%= mem.name %>
                           <% if @answer %>
                               <%= "：#{@answer.answer}" %>
                           <% else %>
                               <%= "：未回答" %>
                           <% end %>       
                         <% end %>  
                     </div>
                     <div class = "edit-answer">
                         <% if @answer %>
                           <p>回答を編集する</p>
                               <%= form_tag("/room/#{@current_room.id}/#{session[:user_id]}/answer/edit") do %>
                                 <div class = "edit-answer-form">
                                   <input name="edit_answer">
                                   <input type="submit" value="回答を編集">
                                 </div>
                               <% end %>   
                        <% end %>       
                           
                     </div>
          </div>
        </div>
    </div>
</div>