<div class = "login-page">
    <h1>ログイン</h1>
    <div class = "container">
        <div class = "login-form">
            <%= form_tag("/users/login") do%>
              <p>名前を入力</p>
              <input name="name">
              <p>パスワードを入力</p>
              <input name="password" >
              <input type="submit" value="ログイン">
            <% end %>
        </div>
    </div>
</div>