<div class = "users-new">
    <div class = "container">
        <div class = "users-new-header">
            <h1>新規ユーザー登録</h1>
        </div>
        <div class = "users-form">
            <%= form_tag("/users/create") do %>
             <p>名前を入力してください</p>
             <input name="name">
             <p>パスワードを入力してください</p>
             <input name="password">
             <input type="submit" value="新規ユーザー登録">
            <% end %>
        </div>
    </div>
</div>
