<div class = "users-show">
    <dev classs = "container">
        <div class = "user-detail">
            <%= @user.name %>
        </div>
    　<% if session[:user_id] == @user.id %>    
        <div class = "user-edit">
          <%= form_tag("/users/:id/edit") do %>
            <p>ユーザーを編集する</p>
            <p>名前を編集</p>
            <div class = "edit-name">
            <input name="name" value="<%= @user.name %>">
            </div>
            <div class = "edit-password">
            <p>パスワードを編集</p>
            <input name="password" value="<%= @user.password %>">
            </div>
            <input type="submit" value="編集">
          <% end %>        
        </div>
      <% end %>    
    </dev>
</div>