<!DOCTYPE html>
<html>
  <head>
    <title>ShimizuApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script   src="https://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="   crossorigin="anonymous"></script>
  </head>
  
  <body>
   <header>  
     <% if flash[:notice]%>
       <div class = "flash">
         <%= flash[:notice] %>
        </div> 
     <% end %>
     <nav>
     <div class = "nav-wrapper">
         
         
       <div class = "brand-logo" >
           <%= link_to("晩御飯App","/") %> 
       </div>
    
       <div class ="header-li">
          <% if session[:user_id] %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            　<% if session[:room_id] %>
            　 <li><%= link_to("部屋を表示","/room/#{session[:room_id]}/show") %></li>
            　<% end %> 
             　<li><%= link_to("部屋を作成","/room/new") %></li>
             　<li><%= link_to("部屋に入室","/room/login_form") %></li>
             　<li><%= link_to("マイページ","/users/#{session[:user_id]}/show") %></li>
             　<li><%= link_to("ログアウト","/users/#{session[:user_id]}/logout",{method: "post"}) %></li>
            </ul> 　
          <% else %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">  
             　<li><%= link_to("ユーザー登録","/users/new") %></li>
             　<li><%= link_to("ログイン","/users/login_form") %></li>
            </ul> 　
          <% end %> 　
       </div>  
       
    </div>
    </nav>
    <%= yield %>
  </header>  
  </body>
</html>
